<div class="panel" id="page-featured">
  <section class="inner featured-game">
    <div class="section-heading">
      <h2>Featured Project</h2>
      <span class="tag">03</span>
    </div>

  <div class="featured-game">

     <div class="game-info">

        <h2>GHOSTLAND</h2>

        <p>
            A 2D platformer built using Python, SQL, Aseprite and Tiled
            featuring handcrafted levels, database-backed progression,
            and arcade gameplay.
        </p>


        <div class="game-tags">
            <span>Python</span>
            <span>SQL</span>
            <span>Tiled</span>
            <span>Aseprite</span>
        </div>


        <div class="hero-actions">
            <a href="https://github.com/Night07Owl/GhostLand"
               class="btn btn-solid">
                GitHub →
            </a>

            <a href="#" class="btn btn-ghost">
                Read More
            </a>
        </div>


 <div class="game-showcase">

    <div class="game-video">
        <video id="ghostVideo" autoplay muted playsinline preload="auto">
            <source src="videos/ghostland.mp4" type="video/mp4">
        </video>
    </div>

    <div class="gallery-side">
        <img src="images/menu.png" alt="">
        <img src="images/lvl.png" alt="">
    </div>

</div>

<div class="gallery-bottom">
    <img src="images/login.png" alt="">
    <img src="images/scene.png" alt="">
</div>



    <!-- Bottom Full Width Info -->
   
    </div>

</div>